body {
    background-color: #4f88b0;
}

.drop {
    position: absolute;
}

.drops {
    display: flex;
    justify-content: space-around;
}

button {
    width: 225px;
    height: 50px;
    background-color: white;
    font-size: 22px;
    font-weight: bolder;
    font-family: 'Gloria Hallelujah', cursive;
}

.butt {
    display: flex;
    justify-content: center;
    margin-top: 500px;
}
